/*
 * Mixin example with breakpoint
 */
// @include media-breakpoint-up(lg) {
// 	Breakpoint styles
// }

// .swiper__main {
//     img {
//         transform: scale(1.5);
//         transition: transform 5s ease-in-out;
//     }
//     .swiper-slide-next {
//         img {
//             transform: scale(1);
//         }
//     }
//     .swiper-slide-active {
//         img {
//             // transform: scale(1);
//             animation: imgAnim 5s ease-in-out;
//         }
//     }
// }

// @keyframes imgAnim {
//     from {
//         transform: scale(1);
//     }
  
//     to {
//         transform: scale(1.5);
//     }
// }

.swiper-thumbs {
  .swiper-slide {
    cursor: pointer;
  }
}

#InStock {
  p {
    margin: 0;
  }
}

.contacts__map {
  top: 8rem;
}
.main__section {
  min-height: 85vh;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0 !important;
}
// .swiper-button-prev, .swiper-button-next {
//   color: $primary !important;
// }